<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gin web</title>
    <link rel="stylesheet" href="/public/main.css">
    <script src="/public/main.js"></script>
</head>
<body>
    <h1>user</h1>

    <div>
        id: {{.userid}}
        sex: {{.usersex}}
    </div>

    <div>
        <form action="/create/post" method="post">
            title:<input type="text" name="title" value="{{.t}}">
            article: {{.a}}
            <button type="submit">submit</button>
        </form>
    </div>
</body>
</html>